// _buttons.scss
@use "variables" as *;

.btn-custom-primary {
    background-color: #3f87f5;
    border-color: #3f87f5;
    color: $color-white;

    &:hover {
        background-color: #306fd3;
        border-color: #306fd3;
        color: $color-white;
    }
}

.btn-custom-info {
    background-color: $color-info;
    border-color: $color-info;
    color: $color-white;

    &:hover {
        background-color: $color-info-dark;
        border-color: $color-info-dark;
        color: $color-white;
    }
}

.btn-warning {
    background-color: $color-warning;
    border-color: $color-warning;
    color: #222;

    &:hover {
        background-color: $color-warning-dark;
        border-color: $color-warning-dark;
    }
}
